---
import Layout from '../../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';


---


<Layout title="Welcome to Astro.">
    este es el inicio 
    <p class="pretty-p font-myfont">hola</p>
    <Icon name="mdi:account-badge" size="100px" class="text-green-400" />
    <div id="btn">
        pinchame

    </div>

    <ul data-tabs class="flex bg-blue-500">
        <li><a data-tabby-default href="#harry">Harry Potter</a></li>
        <li><a href="#hermione">Hermione</a></li>
        <li><a href="#neville">Neville</a></li>
    </ul>
    
    <div id="harry">asdasdasd</div>
    <div id="hermione">dfgdfgdfdfg</div>
    <div id="neville">cbcvbvcbcvb</div>

    <div class="h-20"></div>

    <div class="embla">
        <div class="embla__container">
          <div class="embla__slide bg-red-400">Slide 1</div>
          <div class="embla__slide bg-orange-400">Slide 2</div>
          <div class="embla__slide bg-green-600">Slide 3</div>
        </div>
      </div>
	
</Layout>
<style>
    .pretty-p {
        @apply bg-red-500 p-6 text-blue-800 rounded h-96;
        clip-path: polygon(100% 0%, 0% 0% , 0.00% 54.60%, 2.00% 53.85%, 4.00% 52.99%, 6.00% 52.03%, 8.00% 51.01%, 10.00% 49.96%, 12.00% 48.91%, 14.00% 47.89%, 16.00% 46.94%, 18.00% 46.09%, 20.00% 45.35%, 22.00% 44.76%, 24.00% 44.33%, 26.00% 44.07%, 28.00% 44.00%, 30.00% 44.11%, 32.00% 44.41%, 34.00% 44.88%, 36.00% 45.50%, 38.00% 46.27%, 40.00% 47.15%, 42.00% 48.11%, 44.00% 49.14%, 46.00% 50.19%, 48.00% 51.24%, 50.00% 52.25%, 52.00% 53.19%, 54.00% 54.03%, 56.00% 54.74%, 58.00% 55.31%, 60.00% 55.72%, 62.00% 55.95%, 64.00% 55.99%, 66.00% 55.85%, 68.00% 55.53%, 70.00% 55.04%, 72.00% 54.40%, 74.00% 53.61%, 76.00% 52.72%, 78.00% 51.74%, 80.00% 50.71%, 82.00% 49.66%, 84.00% 48.61%, 86.00% 47.61%, 88.00% 46.69%, 90.00% 45.86%, 92.00% 45.17%, 94.00% 44.62%, 96.00% 44.24%, 98.00% 44.03%, 100.00% 44.01%);
    
    
    }
/* npm install @iconify-json/mdi */

.embla {
    @apply bg-blue-200 max-w-80;
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
    
</style>
<script>
    import EmblaCarousel from 'embla-carousel'
    import JSConfetti from 'js-confetti'
    import Tabby from 'tabbyjs'
    const jsConfetti = new JSConfetti()
    
    const divBtn = document.getElementById("btn")
    
    divBtn.addEventListener("click", function(event) {
        console.log("me has pinchado",event.target)
        jsConfetti.addConfetti()
    })
    
    const tabs = new Tabby('[data-tabs]');

    const emblaNode = document.querySelector('.embla')
    const options = { loop: false }
    EmblaCarousel(emblaNode, options)
</script>
