---
import Layout from "../../layouts/Layout.astro";
import { Icon } from 'astro-icon/components';
---

<Layout title="Welcome to Astro.">
    este es el inicio 
    <p class="pretty-p font-myfont">hola</p>
    <Icon name="mdi:advertisements-off"  size="150px" class="text-red-500"/>	
    <h1 class="bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text text-4xl">hello world</h1>
</Layout>
<style>
    .pretty-p {
        @apply bg-red-500 p-6 text-blue-800 rounded h-96;
        clip-path: polygon(100% 0%, 0% 0% , 0.00% 54.60%, 2.00% 53.85%, 4.00% 52.99%, 6.00% 52.03%, 8.00% 51.01%, 10.00% 49.96%, 12.00% 48.91%, 14.00% 47.89%, 16.00% 46.94%, 18.00% 46.09%, 20.00% 45.35%, 22.00% 44.76%, 24.00% 44.33%, 26.00% 44.07%, 28.00% 44.00%, 30.00% 44.11%, 32.00% 44.41%, 34.00% 44.88%, 36.00% 45.50%, 38.00% 46.27%, 40.00% 47.15%, 42.00% 48.11%, 44.00% 49.14%, 46.00% 50.19%, 48.00% 51.24%, 50.00% 52.25%, 52.00% 53.19%, 54.00% 54.03%, 56.00% 54.74%, 58.00% 55.31%, 60.00% 55.72%, 62.00% 55.95%, 64.00% 55.99%, 66.00% 55.85%, 68.00% 55.53%, 70.00% 55.04%, 72.00% 54.40%, 74.00% 53.61%, 76.00% 52.72%, 78.00% 51.74%, 80.00% 50.71%, 82.00% 49.66%, 84.00% 48.61%, 86.00% 47.61%, 88.00% 46.69%, 90.00% 45.86%, 92.00% 45.17%, 94.00% 44.62%, 96.00% 44.24%, 98.00% 44.03%, 100.00% 44.01%);
    
    
    }

    
</style>